[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[user]
	name = pepepe
	email = sh.pepepe@gmail.com
[push]
	default = matching
[core]
	excludesfile = /Users/pepepe/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/1.9.5.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[ghq]
    root = ~/.ghq
    root = ~/.go/src
